<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762767679819-4q6apkk5mvi30c0lu18l95p7in3gbco1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762767679819-4q6apkk5mvi30c0lu18l95p7in3gbco1</string>
	<key>API_KEY</key>
	<string>AIzaSyAQxCLKgptnKdLJsu9shB8YeQBLehx31qs</string>
	<key>GCM_SENDER_ID</key>
	<string>762767679819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zen-Month</string>
	<key>PROJECT_ID</key>
	<string>zen-month</string>
	<key>STORAGE_BUCKET</key>
	<string>zen-month.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762767679819:ios:814dddd8dfe8f89d</string>
	<key>DATABASE_URL</key>
	<string>https://zen-month.firebaseio.com</string>
</dict>
</plist>